main{
  text-align: justify;
}

* {
  font: normal 16px Open sans;
}

p {
  text-indent: 1.5em;
  line-height: 1.7em;
}

.vscode{
  font-weight: 600;
}

#telavscode{
  margin: 30px 0px;
  width: 40em;
}

.video{
  text-align: center;
  margin: 30px 0px;
}

a:visited, a:link {
  color: #084312;
}

.small-icon {
  width: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 18pt;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
}

.sub-title {
  font-size: 12pt;
  font-weight: bold;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 5px;
  font-style: italic;
}

.hightlight-center {
  font-size: 35px;
  text-align: center;
}

.card-group {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card a {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-weight: 600;
}

.card a:hover {
  text-decoration: underline;
}

.card img {
  padding-bottom: 7px;
  border-radius: 50%;
  width: 100%;
  max-width: 150px;
}

.footer {
  background-color: #084312;
  height: 150px;
  color: white;
  font: normal 16px Open sans;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer img {
  width: 70px;
  margin-bottom: 10px;
}

/* celular */
@media screen and (max-width: 600px) {
  header p{
    text-indent: 0px;
  }
  .cabecalho{
    width: 100%;
    padding: 15px;
  }
  .cabecalho img {
    width: 100%;
  }

  .navbar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar ul li a{
    font-size: 16px;
    line-height: 30px;
  }

  #telavscode{
    width: 275px;
    height: 300px;
  }

  .video{
    width: 275px;
    height: 300px;
  }
}