.section_1, .section_2, .section_3, .section_4{
  border-radius: 10px;
  padding: 50px;
  margin: 20px 0px;
  margin: auto;
  width: 100%;
}


.section_2 {
  background-color: #e8e7e7;
  color: #000;
}

.section_3 {
  background-color: #127824;
  color: white;
}

@media (min-width: 1200px) {
  .section_1, .section_2, .section_3, .section_4{
    width: 75%;
  }
}